{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href= '{% static "accounts/css/accounts.css" %}'> -->
    <link href='{% static "accounts/css/vis.css" %}'rel="stylesheet" type="text/css" />  
    
     


</head>
<body id="fixed">
    <h2>{{ user.username }}</h2>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{% static 'accounts/js/vis.js' %}"></script>   
    

    <div id="chart"></div>
    <script>
        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');



    
    </script>
    <script src="{% static 'accounts/js/dataviz.js' %}"></script>  
    
</body>
</html>