{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href= '{% static "accounts/css/accounts.css" %}'>
</head>
<body>
<div class="wrapper">
    <form method="post" action="" class="form-signin">{% csrf_token %}
    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""/>
    <br>
    <input type="password" class='form-control' name="password" placeholder="Password" require="" id="">
    <br>
    <button class='btn btn-lg btn-danger btn-block' type='submit'>Login</button>
    <br>
    <a href='{% url "register" %}' class='btn btn-lg btn-danger btn-block'>Sign Up</a>


    </form>



</div>  
    
</body>
</html>