#switchDiv {

  position: relative;
  right: 350px;
  /* width: 38px;
  height: 14px; */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {font-family: Arial, Helvetica, sans-serif;}



#focusStart {

  background-color: white;
}

#timerset {

  

}



select {

  /* styling */
  background-color: white;
  border: thin solid;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
width: 35px;
text-align-last:center;
/* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  
  body {
    
    font: 1em/100% "Helvetica Neue", Arial, sans-serif;
    text-align: center;
  }
 
#app {
  /* background-color: #f2f2f2; */
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 520px;
  border-radius: 12px;
  font: inherit;

}

#controlDiv {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 186px 186px;
  grid-gap: 50px;
  z-index: -1;
  
  
}

#timerDiv {
  display: block;
  margin: auto;

}


#buttondiv {
  float:right;
  display: grid;
  font: inherit;
} 

.button {
  width: 110px;
  border: thin solid; 
  border-radius: 4px;
  font:  .8em/100% "Helvetica Neue", Arial, sans-serif;
    text-align: center;

}

#strainedFocus {
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  opacity: 1;
  z-index: 2;
  width: 120px;
  height: 120px;
  border: none;
  background-color:white;
  color:white;
  background-image: none;
  outline: none; */
  -webkit-box-shadow: none;
  box-shadow: none; 
  /* border-radius: 4px; */
  line-height: 120px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}


#timer1 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 80%;
  height: 80%;
  z-index: 4; 
  }

  #timer2 {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 80%;
    height: 80%;
    z-index: 6;  
  }

  #timer3 {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 80%;
    height: 80%;
    z-index: 8;
  
  }

  #timer4 {
    margin-top: 65px;
    margin-left: 6px;
    margin-right: auto;
    position: absolute;
    z-index: 10;
    
    width: 368px;
    height: 368px;
    
  }
    
    
    

      
  


